/* .bubble {
  width: 280px;
  display: flex;
  padding: 7px;
  flex-wrap: wrap;
  margin-top: -20px;
  margin-left: 9px;
  border-radius: 10px;
  background-color: #342d2dc4;
}

.triangleLeft {
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid #342d2dc4;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: -1px;
  top: -10px;
} */
